body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header h1{
    font-size: 50px;
    background: linear-gradient(to right,#000,#111,#222,#333,#444,#555,#666,#777,#888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section{
    box-sizing: border-box;
    padding: 1px 20px;
}
section form{
    box-sizing: border-box;
    padding: 1px 15px;
}
section form fieldset{
    box-sizing: border-box;
    border-radius: 10px;
    color: #444;
}
section form fieldset:hover{
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.596);
    background: linear-gradient(to right,#fff,#eee);
}
section form fieldset input{
    margin: 6px 1px;
    border-radius: 6px;
}
section form fieldset input#botao{
    cursor: pointer;
}
section form fieldset div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section form fieldset div p{
    text-shadow: 1px 1px 4px #aaa;
}
section form fieldset div p span{
    font-weight: bold;
}
footer p{
    color: #444;
    font-style: italic;
}