h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 49px;
    text-align: center;
    background: linear-gradient(to right,#000,#111,#222,#333,#444,#555,#666,#777);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
form#formulario{
    width: 36%;
    height: 281px;
    display: flex;
    align-items: center;
    margin: auto;
}
form#formulario fieldset#field1{
    width: 100%;
    box-sizing: border-box;
    border-radius: 7px;
}
form#formulario fieldset#field1:hover{
    background: linear-gradient(to right,#fff,#eee);
    box-shadow: 1px 1px 4px 1px #bbb;
}
form#formulario fieldset#field1 input{
    margin: 5px 0px;
}
form#formulario fieldset#field2{
    border-radius: 7px;
    box-sizing: border-box;
}
form#formulario fieldset#field1 fieldset#field2 label{
    color: #444;
    font-family: Consolas;
}
form#formulario fieldset#field1 p{
    color: #444;
    font-family: Consolas;
}
form#formulario legend{
    color: #777;
    font-family: Consolas;
    font-weight: bold;
    text-shadow: 1px 1px 4px #aaa;
}