body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header h1{
    font-size: 60px;
    background: linear-gradient(to right,#000,#111,#222,#333,#444,#555,#666,#777,#888);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
section{
    width: 576px;
    color: #444;
    padding: 1px 20px;
}
section form{
    padding: 1px 15px;
}
section form fieldset{
    box-sizing: border-box;
    border-radius: 10px;
}
section form fieldset:hover{
    background: linear-gradient(to right,#fff,#eee);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.568);
}
section form fieldset input{
    margin: 6px 1px;
    border-radius: 6px;
}
section form fieldset input#botao{
    cursor: pointer;
}
section form fieldset div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section form fieldset div p{
    text-shadow: 1px 1px 4px #aaa;
}
section form fieldset div img{
    width: 196px;
    height: 196px;
    border-radius: 27%;
    transition: all .8s;
}
section form fieldset div img:hover{
    border-radius: 46%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.568);
    transition: all .8s;
}
footer p{
    color: #444;
    font-style: italic;
}